* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.nav-bar {
  background-color: #211;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  margin: 0rem;
  padding: 0rem;
}
.grid-area {
  /* display: grid;
  grid-template-columns: repeat(min-content 10px);
    grid-template-rows: repeat(auto-fit); */
  display: flex;
  /* width: 110%; */
  flex-direction: column;
  justify-content: center;
  background-image: url(https://img.wonderhowto.com/img/original/50/54/63527132337045/0/635271323370455054.jpg);
  background-size: cover;
}

h1 {
  /* text-decoration: none; */
  color: #feb260;
}
.fake-text {
  color: #feb260;
  margin: 1rem;
}
a {
  text-decoration: none;
}
.choices {
  margin: 1rem auto;
  background-color: #211;
  display: inline-block;
  font-size: 2rem;
  padding: 0rem 0rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  /* position: relative; */
  overflow: hidden;
  max-width: 57rem;
  text-align: center;
}
h3 {
  font-size: 3rem;
  text-decoration: none;
  color: #feb260;
}
#img {
  background-image: url(./images/beers.png);
  width: 100%;
  height: 200px;
  background-size: cover;
}
#img2 {
  background-image: url(./images/new-beer.png);
  width: 100%;
  height: 200px;
  background-size: cover;
}
#img3 {
  background-image: url(./images/random-beer.png);
  width: 100%;
  height: 200px;
  background-size: cover;
}
hr {
  height: 100rem;
}
.pour {
  display: flex;
  flex-direction: row;
  font-size: 20rem;
  justify-content: space-around;
  margin: 1rem auto;
  background-color: rgba(34, 17, 17, 0.829);
  /* display: inline-block; */
  font-size: 2rem;
  padding: 0rem 0rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  /* position: relative; */
  overflow: hidden;
  max-width: 57rem;
  text-align: center;
  max-width: 45rem;
  /* background-color: #211  ; */
}
.lists {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #feb260;
  font-size: 5.6rem;
  justify-content: space-around;
  padding: 1.5rem;
}
.col {
  color: #feb260 !important;
}
.showMeTheBeer {
  width: 12rem;
  height: 30rem;
  padding: 1.5rem;
}
.org {
  display: flex;
  flex-direction: column;
}
.holder {
  background-image: url(https://img.wonderhowto.com/img/original/50/54/63527132337045/0/635271323370455054.jpg);
  /* width: 100%; */
  /* height: 100%; */
  margin: 0rem;
  padding: 0rem;
  background-size: cover ;
  background-attachment: fixed;
  
}
.holder2 {
  background-image: url(https://img.wonderhowto.com/img/original/50/54/63527132337045/0/635271323370455054.jpg);
  /* width: 100%; */
  height: 71rem !important;
  margin: 0rem;
  padding: 0rem;
  background-size: cover ;
  background-attachment: fixed;
  
}
.holder3{
  background-image: url(https://img.wonderhowto.com/img/original/50/54/63527132337045/0/635271323370455054.jpg);
  /* width: 100%; */
  height: 71rem !important;
  margin: 0rem;
  padding: 0rem;
  background-size: cover ;
  background-attachment: fixed;
}
.holder3:after,
.holder3:before {
  content: "";
  display: table;
  clear: both;
}

.holder:after,
.holder:before {
  content: "";
  display: table;
  clear: both;
}
.fill{
  
  font-size: 20rem;
  margin: 1rem auto;
  background-color: rgba(34, 17, 17, 0.829);
  /* display: inline-block; */
  font-size: 2rem;
  padding: 0rem 0rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  /* position: relative; */
  overflow: hidden;
  max-width: 57rem;
  text-align: center;
  height: 30rem;
  width: 60rem;
  /* background-color: #211  ; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
}
input{
  background-color: #feb26041;
  border-style: none;
}
